<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Why?</title>

    <link href="/static/css/landing.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vesper+Libre:700" rel="stylesheet">
  </head>

  <body>
    <div class="hero">
      <span class="logo"><img src="/static/images/logo.png" alt="Why?"></span>
      <h2>Turn around your digital life. One question at a time.</h2>
      <a href="https://github.com/dyedgreen/ic-hack-19" class="button">Get App</a>
      <a href="https://github.com/dyedgreen/ic-hack-19" class="button">Get Extension</a>
    </div>

    <a href="/login" class="footer">Login to web interface</a>
  </body>

</html>