<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Why?</title>

    <link href="/static/css/landing.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vesper+Libre:700" rel="stylesheet">
  </head>

  <body>
    <div class="hero">
      <img class="logo" src="/static/images/logo.png">
      <h1>Why?</h1>
      <h2>Turn around your digital life. One question at a time.</h2>
      <a href="#" class="button">Get App</a> <a href="#" class="button">Get Extension</a>
    </div>

    <a href="/login" class="footer">Login</a>
  </body>

</html>